footer{
    z-index:1;
    color: var(--Blanco);
    font-family: 'Work Sans';
    line-height: 125%;
}
.footerLinksContainer{
    width: 34vw;;
    display: flex;
    justify-content: space-evenly;
}
.footerLinksTitle{
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0px 16px 0;
}
.footerLinksList li{
    list-style:none;
    padding-bottom: 8px;
}
.footerLinksList a{
    text-decoration: none;
    color: var(--Blanco);
}