footer{
    z-index:1;
    color: var(--Blanco);
    font-family: 'Work Sans';
    line-height: 125%;
    display: flex;
    padding: 80px 0 40px 0;
    justify-content: center;
    flex-direction: column;
}
.footerCallToAction{
    padding: 0 170px 40px 170px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footerLinksContainer{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.footerLinksTitle{
    font-size: 24px;
    font-weight: 700;
}
.footerLinksList{
    margin-top:10px ;
}
.footerLinksList li{
    list-style:none;
    padding-bottom: 8px;
}
.footerLinksList a{
    text-decoration: none;
    color: var(--Blanco);
}
.footerInformation{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    border-top: 1px solid var(--GrisClaro);
    padding:0 60px ;
    padding-top: 40px;
    flex-wrap: wrap;
}
.footerInformationLinks{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.footerInformationLinks a{
    color: var(--Blanco);
}
@media screen and (max-width:1300px) {
    .footerCallToAction{
        padding: 0 100px 40px 100px;
    }
  }
  @media screen and (max-width:900px) {
    .footerLinksContainer{
        margin-top: 30px;
        width: 100%;
    }
    .footerCallToAction{
        padding: 0 70px 40px 70px;
    }
  }
  @media screen and (max-width:500px) {
    .footerCallToAction{
        padding: 0 30px 20px 30px;
    }
  }