.mainInicio{
    width: 100%;
    color: var(--Blanco);
    font-family: 'Work Sans';
    font-size: 20px;
    line-height: 125%;
}
.mainContainer{
    display: flex;
    z-index: 10;
    justify-content: center;
    align-items: center;
    padding:110px 170px ;
    gap: 50px;
}
.mainInformation{
    width: 60%;
}
.mainInformation h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mainInformation h2{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: var(--GrisClaro);
    margin-bottom: 15px;

}
.mainContainer img{
    border-radius: 50px;
    width: 40%;
    object-fit: cover;
}

@media screen and (max-width:1300px) {
    .presentation{
      height: auto;
    }
    .mainContainer{
        padding:50px 70px ;
    }
    .mainInformation h1{
        font-size: 33px;
    }
  }
  @media screen and (max-width:900px) {
    .mainInicio{
        padding-top: 40px;
    }
    .mainContainer{
        flex-direction: column;
      }
      .presentation{
        height: auto;
      }
      .mainContainer{
        padding:50px 70px ;
      }
    .mainInformation{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 0;
        width: 90%;
    }
    .mainInformation h1{
        padding-right: 0;
        width: 90%;
    }
    .mainContainer img{
        width: 80%;
    }
  }
  @media screen and (max-width:500px) {
    .mainContainer{
        padding:20px 5px ;
    }
}