.socialNetworkButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: gray;
    border-radius: 15px;
    box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38);
    -webkit-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38);
    -moz-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38);
}
.socialNetworkButton:hover{
    box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38) inset;
    -webkit-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38) inset;
    -moz-box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.38) inset;
}
.YouTube{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(92.63deg, #ED213A 0%, #93291E 100%);
}
.Twitter{
    background: linear-gradient(92.63deg, #56CCF2 0%, #2F80ED 100%);
}
.Instagram{
    background: linear-gradient(92.63deg, #C52F9A 0%, #5B50C8 100%);
}
.TikTok{
    background: linear-gradient(92.63deg, rgba(65, 41, 90, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.LinkedIn{
    background-color: #2F80ED;
}