.tag{
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    color: var(--Blanco);
    padding: 7px 15px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
}
.Robotica{
    background-color: rgb(0, 136, 199);
}
.Programacion{
    background-color: rgb(59, 59, 59);
}
.DesarrolloWeb{
    background-color: rgb(238, 144, 2);
}
.Electronica{
    background-color: rgb(0, 47, 255);
}
.Arduino{
    background-color: #008184;
}
.Impresion3D{
    background-color: #9b0281;
}
.Tinkercad{
    background-color: #c2013b;
}