.presentation{
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/fondoInicio.svg");
  background-repeat: no-repeat;
  background-size:cover;
}
.weObjects{
  z-index: 100;
  bottom: -250px;
  display: flex;
  color: var(--Blanco);
  align-items: center;
  padding: 40px 170px;
  gap: 80px;
  width: 100%;
}
.weObjectsinfo{
  width: 100%;
}
.weObjectsTitle{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
}
.weObjectsText{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
}
.homeCourseSection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--Blanco);
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}
.homeCourseTitle{
  font-family: 'Work Sans';
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
  text-align: center;
  color:var(--Blanco);
}
.homeCardsContainer{
  width: 90%;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.socialNetworks{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 50px 0;
}
.socialNetworksContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.staff{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.staffTitle{
  color: var(--Blanco);
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 48px;
  line-height: 125%;
  margin-bottom: 40px;
}
.staffContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
@media screen and (max-width:1300px) {
  .weObjectsSvg{
    width: 350px;
  }
  .weObjects{
    padding: 20px 50px;
  }
  .weObjectsTitle{/* Nuestro objetivo */
    font-size: 40px;
  }
  .weObjectsText{
    font-size: 16px;
  }
}
@media screen and (max-width:900px) {
  .weObjects{
      flex-direction: column;
      margin: 20px 0;
      gap: 0;
  }
}
@media screen and (max-width:500px) {

}