
.presentation{
  height: 120vh;
  display: flex;
  flex-direction: column;
}
.containerMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 170px;
  }
.FondoOlas{
  position:absolute;
  top: 380px;
  width: 100%;
}
.contenedorFondoOlas{
  height: 54vh;
}
.weObjects{
  z-index: 100;
  position: absolute;
  bottom: -250px;
  display: flex;
  color: var(--Blanco);
  align-items: center;
  padding: 40px 170px;
  gap: 80px;
  width: 100%;
}
.weObjectsinfo{
  width: 100%;
}
.weObjectsTitle{/* Nuestro objetivo */
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;
}
.weObjectsText{
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
}
.mainInformation h1{
  font-size: 40px;
  width: 500px;
}
@media screen and (max-width:1300px) {
  .FondoOlas{
    top: 600px;
  }
  .weObjectsSvg{
    width: 350px;
  }
  .weObjects{
    bottom: -150px;
    padding: 20px 50px;
    gap: 80px;
  }
  .weObjectsTitle{/* Nuestro objetivo */
    font-size: 40px;
  }
  .weObjectsText{
    font-size: 16px;
  }
}
@media screen and (max-width:800px) {
.weObjects{
    flex-direction: column;
}
}
@media screen and (max-width:500px) {

}