.mainLogin{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("../../assets/fondoLogin.svg");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 180px 170px;
    gap: 30px;
}
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 15px;
    background: var(--GrisOscuro);
    border-radius: 15px;
    z-index: 100;
    width: 35%;
}
.combobox{
    padding: 10px 15px;
    border: none;
    width: 100%;
    background: var(--Negro);
    color: var(--Blanco);
    border-bottom: 4px solid #2563EB;
    border-radius: 5px;
    align-self: stretch;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
}
.combobox:focus {
    outline: none;
}
@media screen and (max-width:1300px) {
    .mainLogin{
        padding: 100px 100px;
    }
    .loginForm{
        width: 60%;
    }
  }
  @media screen and (max-width:900px) {
    .mainLogin{
        padding: 100px 50px;
    }
    .loginForm{
        width: 90%;
    }
  }
  @media screen and (max-width:500px) {
    .mainLogin{
        padding: 100px 20px;
    }
    .loginForm{
        width: 100%;
    }
  }