.section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 100px;
    width: 100%;
    gap: 25px;
    background-color: var(--Negro);
}
.analiticSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--Gris);
    border-radius: 15px;
}
.msgAlert{
    padding: 50px;
    width: 100%;
    background: var(--Gris);
    border: 1px solid var(--Gris);
    border-radius: 15px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    color: var(--Blanco);
    text-align: center;
}
.homeSubtitulo{
    padding: 30px 50px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: var(--Blanco);
}
.itemContainer{
    color: var(--Blanco);
    font-family: 'Work Sans';
    line-height: 125%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
}
.itemAnalitic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 180px;
    background: var(--GrisOscuro);
    border-radius: 15px;
}
.itemAnaliticNumber{
    padding: 3px;
    font-weight: 600;
    font-size: 24px;
}
.itemAnaliticText{
    font-weight: 500;
    font-size: 20px;
}
.listCousesTop{
    display: flex;
    flex-direction: column;
    padding: 20px 50px;
    gap: 10px;
    color: var(--Blanco);
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    overflow-y: scroll;
}
.itemCouseTop{
    min-width: 900px;
    display: grid;
    grid-template-columns:  50px 1fr 1fr 150px;
    padding: 30px;
    grid-gap: 30px;
    text-align: center;
    width: 100%;
    background: var(--GrisOscuro);
    border-radius: 15px;
}

@media screen and (max-width:1300px) {

  }
  @media screen and (max-width:900px) {
    .section{
        padding: 20px 40px;
    }
    .msgAlert{
        padding: 50px 25px;
        font-size: 38px;
    }
  }
  @media screen and (max-width:500px) {

  }