*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body{
  background-color: var(--Negro);
}
.containerMenu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 170px;
}
.FondoOlas{
  position: absolute;
  top: 43vh;
  width: 100%;
}