:root{
    --Blanco:#FFFFFF;
    --Azul:#2563EB;
    --Celeste:#00A7E3;
    --GrisOscuro:#171717;
    --Gris:#3F3F46;
    --GrisClaro:#C9C9CA;
    --Negro:#0A0A0A;
}
/*@import url("./styles/ItemMenu.css") all;*/

html{
    scroll-behavior: smooth;
}
.noLink{
    text-decoration: none;
}